<%- include("partials/header") %>
<div class="small-12 single-post">
	<h1 class="title"><%= post.title  %></h1>
	<div class="body"><%- post.body %></div>
	<small><%= post.publishedBy.user.username %> - <span class="date"><%= post.publishedBy.date %></span> - <%= post.tags %></small>
	<hr>
</div>
<%- include("partials/footer") %>

