<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= sitename + pagename %></title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link href="/admin/assets/css/sb-admin.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- CUSTOM CSSs and PLUGINs -->
    <link rel="stylesheet" href="/components/toastr/toastr.min.css">
    <link rel="stylesheet" href="/admin/assets/plugins/codemirror/codemirror.css">

    <!-- COMPILED LESSs -->
    <link rel="stylesheet" href="/admin/assets/css/backend.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/components/tinymce/tinymce.min.js"></script>

</head>
<body class="<%= typeof bodyclass !== 'undefined' ? bodyclass : '' %>">

  <div id="wrapper">
    <%- partial('partials/navigation') %>
    <%- body -%>
  </div>

  <!-- jQuery -->
  <script src="/components/jquery/dist/jquery.js"></script>
  
  <!-- Bootstrap Core JavaScript 
  <script src="/private/js/bootstrap.min.js"></script>-->
  <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="/components/momentjs/moment.js"></script>
  <script src="/components/toastr/toastr.min.js"></script>
  <script src="/admin/assets/plugins/codemirror/codemirror.js"></script>
  <script src="/admin/assets/plugins/codemirror/css/css.js"></script>
  
  <!-- CMS backend object -->
  <script src="/admin/assets/js/backend.js"></script>

  <%- renderScripts(scripts) %>

</body>
</html>
