<!-- POST LOOP -->
<% for (var i = 0; i < posts.length; i++) { %>
<div class="small-12 post-container">
	<h4><a href="/post/<%=  posts[i].slug %>"><%=  posts[i].title %></a></h4>
	<p><%-  posts[i].body %></p>
	<div class="meta">
		<div class="pull-left">
			<small><strong><%=  posts[i].publishedBy.user.username %></strong></small>
			<small class="date"><%=  posts[i].publishedBy.date %></small>
		</div>
		<div class="pull-right">
			<small><%= posts[i].tags %></small>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<% }; %>

