<%- layout('layouts/admin-panel.ejs') -%>
<div id="page-wrapper">
    <div class="container-fluid">  
        <h2 class="page-header">
            Comments <small>manage your community messages</small>
        </h2>
        <!-- Table -->
        <table class="table" >
        <tr>
            <th class="col-xs-2">Discussion</th>
            <th>Comments</th>
        </tr>
        <% for (var i = 0; i < posts.length; i++) { 
            if( posts[i].comments.length > 0) { %>
            <tr>
                <td><a href="/post/<%=  posts[i].slug %>"><%=  posts[i].title %></a></td>
                <td>
                    <% for (var j = 0; j < comments.length; j++) { 
                        if( String(posts[i]._id) === String(comments[j].post_id) ) { %>
                        <div class="comment">
                            <span class="user"><%= comments[j].user.username %></span>
                            <span class="pull-right">
                                <i class="fa fa-fw fa-floppy-o save-comment" data-id="<%= comments[j]._id %>"></i>
                                <i class="fa fa-fw fa-pencil edit-comment"></i>
                                <i class="fa fa-fw fa-remove remove-comment" data-id="<%= comments[j]._id %>" data-post-id="<%= posts[i]._id %>"></i>
                            </span>
                            <div class="clearfix"></div>
                            <div class="comment-body" data-id="<%= comments[j]._id %>" contenteditable><%= comments[j].comment %></div>
                        </div>               
                    <% }
                    }; %>
                </td>
            </tr>
            <% } %>
        <% }; %>
      </table>
    </div>
    <!-- /.container-fluid -->
</div>

<% scripts.push('comments.js') %>