<%- include("./partials/header") %>
<%= JSON.stringify(posts[0]._id); %>
<div id="page-wrapper">
    <div class="container-fluid">  
        <h2>Comments</h2>
        <!-- Table -->
        <table class="table table-striped" >
        <tr>
            <th class="col-xs-2">Discussion</th>
            <th>Comments</th>
        </tr>
        <% for (var i = 0; i < posts.length; i++) { %>
            <tr>
                <td><a href="/post/<%=  posts[i].slug %>"><%=  posts[i].title %></a></td>
                <td>
                    <% for (var j = 0; j < comments.length; j++) { 
                        if( String(posts[i]._id) === String(comments[j].post_id) ) { %>
                        <div class="comment">
                            <strong><%= comments[j].user.username %></strong>
                            <div><%= comments[j].comment %></div>
                            <hr>
                        </div>               
                    <% }
                    }; %>

                </td>
            </tr>
        <% }; %>
      </table>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<%- include("./partials/footer") %>
