<%- include("./partials/header") %>
<div id="page-wrapper">
    <%= JSON.stringify(dashboard.templates) %>
    <div class="container-fluid">  
        <%- include("./partials/editor") %>
        <% if (dashboard.templates) {
            templates = dashboard.templates; %>
                <h4>templates</h4>
                <div class="col-xs-4">
                    <% if(!locals.single) single = "" %>
                    <select name="templates" id="templates-choice" class="form-control">
                    	<option value="<%= editor %>-template"  <%= single.template === editor+"-template" ? "selected": ""; %>  ><%= editor %>-template</option>
            			<% for( t in templates) {%>
            	         	<option value="<%=  templates[t] %>"  <%= single.template === templates[t] ? "selected": ""; %>  ><%=  templates[t] %></option>
            			<% }; %>
                    </select>
                </div>
        <% }; %>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<%- include("./partials/footer") %>

