<%- layout('layouts/admin-panel.ejs') -%>
<div id="page-wrapper">
    <div class="container-fluid">  
        <h2 class="page-header">
            Pages <small>manage your pages</small>
        </h2>
         <a href="/admin/new-page">
            <button type="button" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> Add new post</button>
         </a>
        <br><br>
        <!-- Table -->
        <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Status</th>
            <th>Template</th>
            <th>Preview</th>
        </tr>
        <% for (var i = 0; i < pages.length; i++) { %>
            <tr>
                <td><%=  i %></td>
                <td><a href="./edit-page/<%=  pages[i]._id %>"><%=  pages[i].title %></a></td>
                <td><%=  pages[i].status %></td>
                <td><%=  pages[i].template.replace("-page-template","") %></td>
                <td><a href="/page/<%=  pages[i].slug %>" target="_blank"><i class="fa fa-fw fa-eye"></i></a></td>
            </tr>
        <% }; %>
      </table>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
