<%- include("./partials/header") %>

       
	
    <div id="page-wrapper">

        <div class="container-fluid">  
            <%= JSON.stringify(dashboard.pages)  %>
            <h1>Pages</h1>
             <a href="/admin/create-page">
                <button type="button" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> Add new post</button>
             </a>
            <br><br>

            <!-- Table -->
            <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Status</th>
                <th>Preview</th>
            </tr>
            <% for (var i = 0; i < dashboard.pages.length; i++) { %>
                <tr onclick="$.fn.getData(<%= JSON.stringify(dashboard.pages[i]); %>)">
                    <td><%=  i %></td>
                    <td><a href="./edit-page/<%=  dashboard.pages[i]._id %>"><%=  dashboard.pages[i].title %></a></td>
                    <td><%=  dashboard.pages[i].status %></td>
                    <td><a href="/page/<%=  dashboard.pages[i].slug %>"><i class="fa fa-fw fa-eye"></i></a></td>

                </tr>
            <% }; %>
          </table>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->


<%- include("./partials/footer") %>

