<%- include("./partials/header") %>


    <div id="page-wrapper">

        <div class="container-fluid">  
            <%= JSON.stringify(dashboard.posts)  %>
            <h1>Posts</h1>
             <a href="/admin/edit-post">
             <button type="button" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> Add new post</button>
             </a>
            <br><br>

            <!-- Table -->
            <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Published</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
            <% for (var i = 0; i < dashboard.posts.length; i++) { %>
                <tr onclick="$.fn.getData(<%= JSON.stringify(dashboard.posts[i]); %>)">
                    <td><%=  i %></td>
                    <td><%=  dashboard.posts[i].title %></td>
                    <td><%=  dashboard.posts[i].status %></td>
                    <td><%=  dashboard.posts[i].publishedBy.user %></td>
                    <td class="date"><%=  dashboard.posts[i].publishedBy.date %></td>
                </tr>
            <% }; %>
          </table>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    
<%- include("./partials/footer") %>

