<%- layout('layouts/admin-panel.ejs') -%>
<div id="page-wrapper">
    <div class="container-fluid">  
        <h2 class="page-header">
            Posts <small>manage your news and posts</small>
        </h2>
        <a href="/admin/new-post">
            <button type="button" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> Add new post</button>
        </a>
        <br><br>
        <!-- Table -->
        <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Published</th>
            <th>Author</th>
            <th>Date</th>
            <th>Template</th>
            <th>Preview</th>
        </tr>
        <% for (var i = 0; i < posts.length; i++) { %>
            <tr>
                <td><%= i %></td>
                <td><a href="./edit-post/<%=  posts[i]._id %>"><%=  posts[i].title %></a></td>
                <td><%=  posts[i].status %></td>
                <td><%=  posts[i].publishedBy.user.username %></td>
                <td class="date"><%=  posts[i].publishedBy.date %></td>
                <td><%=  posts[i].template.replace("-post-template","") %></td>
                <td><a href="/post/<%=  posts[i].slug %>" target="_blank" ><i class="fa fa-fw fa-eye"></i></a></td>
            </tr>
        <% }; %>
      </table>
    </div>
    <!-- /.container-fluid -->
</div>