<%- layout('layouts/no-nav.ejs') -%>

<div class="container-fluid form-container">
    <h2>RESET PASSWORD</h2>
    <h5><%= error %></h5>
    <%= token_url %>
    <form class="reset-withToken-form form-group col-md-4 col-md-offset-4" action="<%= token_url %>" method="POST">
        <input type="hidden" name="_token" value="<%= _token %>">
        <input type="hidden" name="_mail" value="<%= _mail %>">
        <input type="password" name="password" placeholder="password" class="form-control register-password">
        <input type="password" name="retype-password" placeholder="retype the password" class="form-control register-retype">
        <input type="submit" class="btn btn-primary register-submit">
    </form>
</div>
<!-- /.container-fluid -->
