<%- include("./partials/header") %>
<div id="page-wrapper">
    <h2 class="page-header">
        Themes <small>choose which installed template to us</small>
    </h2>
    <div class="col-md-6">
		<form id="themes-form">
			<select id="avaible-themes" class="form-control">
				<% for (var i = 0; i < templates.theme.length; i++) { %>
					<option value="<%= templates.theme[i] %>" <%= settings.theme === templates.theme[i] ? "selected" : "" ; %>><%= templates.theme[i] %></option>
				<% }; %>
			</select>
			<button class="btn btn-primary form-control" type="submit">Save theme</button>
		</form>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->

<%- include("./partials/footer") %>

