<%- include("./partials/header") %>

<div class="container-fluid">
    <%= JSON.stringify(dashboard.users) %>
    <h2>Posts</h2>
    <% if (user.role === "admin") { %>
        <a href="#">
            <button type="button" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> Add new user</button>
        </a>
    <%};  %>
    <!-- Table -->
    <table class="table table-striped">
    <tr>
        <th></th>
        <th>User</th>
        <th>Role</th>
        <th>Email</th>
    </tr>
    <% for (var i = 0; i < dashboard.users.length; i++) { %>
        <tr>
        	<td><a href="users/<%= dashboard.users[i]._id %>"><i class="fa fa-fw fa-user fa-lg"></i></a></td>
            <td><%= dashboard.users[i].username %></td>
            <td><%= dashboard.users[i].role %></td>
            <td><%= dashboard.users[i].email %></td>
        </tr>
    <% }; %>
  </table>			


</div>
<!-- /.container-fluid -->

<%- include("./partials/footer") %>

