<%- include("partials/header") %>

<div class="small-6 small-offset-3">
	
<%= JSON.stringify(shared.page) %>
<h1><%= shared.page.title  %></h1>
<p><%- shared.page.content %></p>
</div>


<%- include("partials/footer") %>

