<%- include("partials/header") %>

<div class="small-12 single-post">
	<h1 class="title"><%= post.title %></h1>
	<div class="meta">
		<span class="user"><%= post.publishedBy.user.username %></span>
		<span class="date"><%= post.publishedBy.date %></span>
		<span class="tags"><%= post.tags %></span>
	</div>
	<div class="post-body"><%- post.body %></div>
	<hr>
	<%- include("./partials/comments") %>
</div>


<%- include("partials/footer") %>

